.about {
    margin-block-start: 4rem;

    .container {

        .about__container {
            width: 60%;
            height: auto;
            transform: translate(33%);
            background: $blue-color;
            padding: 2rem 1rem 1rem;
            border: 1px solid $black-color;
            box-shadow: inset -10px 10px 10px $glass-color,
                                -15px 15px 5px $black-color,
                                0 1px 5px $glass-color;
            transition: $transition;

            article {
                text-align: center;

                p {
                    margin-block-end: 1rem;
                    color: $white-color;
                    font-weight: 100;
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .about {
    
        .container {
    
            .about__container {
                width: 80%;
                transform: translate(12%);
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .about {
    
        .container {
    
            .about__container {
                width: 90%;
                transform: translate(6%);
            }
        }
    }
}