.about {
    margin-block-start: 4rem;

    .container {

        .about__container {
            width: 60%;
            height: auto;
            transform: translate(33%);
            background: $text-color;
            padding: 2rem 1rem 1rem;
            border: 1px solid $black-color;
            box-shadow: -1rem .8rem $black-color;
            transition: $transition;

            article {
                color: $text-color;
                text-align: center;

                p {
                    margin-block-end: 1rem;
                    color: $black-color;
                    font-weight: 300;
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .about {
    
        .container {
    
            .about__container {
                width: 80%;
                transform: translate(12%);
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .about {
    
        .container {
    
            .about__container {
                width: 90%;
                transform: translate(6%);
            }
        }
    }
}