/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/*==========Reset==========*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
$blue-color: hsl(246, 27%, 15%);
$blue2-color: hsl(217, 91%, 60%);
$blue3-color: hsl(224, 64%, 33%);
$blue4-color: hsl(193, 100%, 68%);
$blue5-color: hsl(204, 100%, 40%);
$bg-color: hsl(240, 7%, 22%);
$black-color: hsl(0, 0%, 0%);
$glass-color: hsla(0, 0%, 100%, 0.075);
$text-color: hsl(0, 1%, 77%);
$white-color: hsl(0, 0%, 100%);
$red-color: hsl(349, 98%, 58%);
$orange-color: hsl(39, 100%, 50%);
$yellow-color: hsl(36, 78%, 57%);
$grey-color: hsl(0, 0%, 48%);
$light-pink: hsl(336, 100%, 90%);
$light-blue: hsl(240, 100%, 90%);
$whatsapp-color: hsl(133, 65%, 42%);
$telegram-color: hsl(202, 70%, 52%);
$transparent-color: rgba(0, 0, 0, 0);
$shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
$shadow1: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow2: 0 25px 50px -12px rgb(0 0 0 / 0.25);
$shadow3: 0 5px 10px $black-color, 0 5px 5px $glass-color, 0 1px 5px $glass-color; 
$shadow4: 1px 1px 100px 10px hsla(224, 64%, 33%, 0.301);
$shadow5: 1px 1px 100px 10px hsla(0, 0%, 100%, 0.068);
$transition: all 400ms ease;
$font-logo: 'Nunito', sans-serif;


