.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 2rem;
    background: $blue-color;
    box-shadow: $shadow;
    z-index: 100;

    .container {

        .header__container {
            justify-content: space-between;
            transition: $transition;

            .header-logo {

                .logo {
                    position: relative;
                    font-family: $font-logo;
                    font-size: 1.5rem;
                    font-weight: 900;
                    color: $blue2-color;
                    text-transform: uppercase;

                    &::before {
                        content: '';
                        position: absolute;
                        top: .8rem;
                        left: 0;
                        background: $blue-color;
                        width: 100%;
                        height: .4rem;
                        transition: $transition;
                    }
                }
            }

            .header-navigation {
                position: fixed;
                top: .8rem;
                right: 4rem;
                width: 10rem;
                height: 2.2rem;
                border-radius: .5rem;
                overflow: hidden;
                transition: $transition;

                .menu-open, .menu-close {
                    position: absolute;
                    top: 0;
                    right: .2rem;
                    width: 2.2rem;
                    height: 2.2rem;
                    cursor: pointer;

                    i {
                        font-size: 1.7rem;
                    }
                }

                .menu-close {
                    display: none;
                }

                &.active {
                    width: 12rem;
                    background: $red-color;
                    height: 22.5rem;
                    box-shadow: $shadow2;
                }

                &.active .menu-btn::before {
                    transform: translateY(0px) rotate(45deg);
                    box-shadow: 0 0 $white-color;
                }

                &.active .menu-btn::after {
                    transform: translateY(0px) rotate(-45deg);
                }

                .header-menu {
                    position: absolute;
                    top: 2rem;
                    left: .5rem;
                    width: 100%;
                    height: calc(100% - 2.2rem);
                    padding: 1rem;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5rem;

                    .box-image {
                        gap: .5rem;
                        width: 2.2rem;
                        height: 2.2rem;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }

                        span {
                            text-transform: capitalize;
                            color: $white-color;
                            font-family: $font-logo;
                            font-size: 1.1rem;
                            font-weight: 700;
                            letter-spacing: 1px;
                        }
                    }

                    .menu-link  {
                        transition: $transition;

                        a {
                            color: $white-color;
                            text-transform: capitalize;
                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .header {
        padding: 1rem .5rem;
    
        .container {
    
            .header__container {
    
                .header-logo {
    
                    .logo {
                        font-size: 1.1rem;
    
                        &::before {
                            top: .6rem;
                            height: .3rem;
                        }
                    }
                }
    
                .header-navigation {
                    top: .5rem;
                    right: 2rem;
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .header {
        padding: 1rem .5rem;
    
        .container {
    
            .header__container {
    
                .header-navigation {
                    right: 1.1rem;

                    .menu-btn {
                        width: 2rem;
                        height: 2rem;
    
                        &::before {
                            width: 20px;
                        }
    
                        &::after {
                            width: 20px;
                        }
                    }

                    &.active {
                        width: 10rem;
                    }
                }
            }
        }
    }

}