.home {
    margin-block-start: 4rem;
    transition: $transition;

    .container {

        .home__container {
            justify-content: center;
            align-items: center;

            .home-left {
                text-align: center;
                width: 70%;
                padding: .5rem;

                h2 {
                    font-family: $font-logo;
                    font-size: 2rem;
                    font-weight: 900;
                    color: $white-color;
                    text-transform: capitalize;
                    margin-block-end: 1rem;
                }

                small {
                    font-size: 3rem;
                    color: $red-color;
                }

                .home-socials {
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;

                    a {
                        font-size: 1.5rem;
                        color: $text-color;
                        transition: $transition;

                        &:hover {
                            transform: scale(1.2);
                            color: $blue2-color;
                        }
                    }

                }

                .home-btn {
                    display: flex;
                    justify-content: center;
                }
            }

            .home-middle {
                padding: .5rem;
                width: 100rem;
                height: auto;

                .circle {
                    position: absolute;
                    top: -15rem;
                    left: 9rem;
                    filter: blur(150px);
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;
                    opacity: .8;
                    background: $blue2-color;
                    z-index: -1;
                }

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            .home-right {
                text-align: center;
                width: 65%;
                padding: .5rem;

                h2 {
                    font-family: $font-logo;
                    font-size: 2rem;
                    font-weight: 900;
                    text-transform: capitalize;
                    color: $white-color;
                    margin-block-end: 1rem;
                }

                p {
                    text-align: justify;
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .home {
        margin-block-start: 3rem;
    
        .container {
    
            .home__container {
                flex-direction: column;
                padding: 0 5rem;
    
                .home-middle {
                    width: 35rem;
                    margin-block-end: 0rem;

                    .circle {
                        top: 4rem;
                        left: 8rem;
                        filter: blur(70px);
                        width: 280px;
                        height: 280px;
                    }
                }
    
                .home-right {
                    width: 100%;
    
                    h2 {
                        margin-block-start: 1rem;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .home {
    
        .container {
    
            .home__container {
                flex-direction: column;
                padding: 0 1rem;
    
                .home-left {
                    width: 100%;
    
                    h2 {
                        font-size: 1.7rem;
                    }
    
                    small {
                        font-size: 1.7rem;
                    }
    
                    .home-socials {
                        gap: .9rem;
    
                        a {
                            font-size: 1rem;
                        }
                    }
                }
    
                .home-middle {
                    width: 27rem;

                    .circle {
                        top: 2rem;
                        left: 5.5rem;
                    }
                }
    
                .home-right {
    
                    h2 {
                        font-size: 1.7rem;
                    }

                    p {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}
