.language {
    transition: $transition;

    .container {

        .language__container {
            justify-content: center;
            flex-direction: column;
            text-align: center;

            .language-content {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                gap: 4rem;
                transition: $transition;

                .box {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    height: 4rem;
                    background: $blue-color;
                    border: 2px solid $blue-color;
                    border-radius: .5rem;
                    box-shadow: inset 0 4px 10px $black-color,
                                0 5px 5px $black-color,
                                0 1px 5px $glass-color;
                    margin-block-end: 3rem;
                    transition: $transition;

                    &:hover {
                        box-shadow: inset 0 4px 10px $glass-color,
                                0 5px 5px $black-color,
                                0 1px 5px $glass-color;  
                        transform: scale(1.1);          
                    }
    
                    i, ion-icon {
                        font-size: 2rem;
                        color: $blue5-color;
                    }
    
                    img {
                        width: 2rem;
                    }
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .language {
    
        .container {
    
            .language__container {
    
                .language-content {
                    gap: 2rem;
    
                    .box {
    
                        &:hover {
                            transform: scale(1) rotate(0);
                        }
                    }
                }

                p {
                    margin-block-start: 2rem;
                }
            }
        }
    }
    
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .language {
    
        .container {
    
            .language__container {
    
                .language-content {
                    grid-template-columns: repeat(3, 1fr);

                    .box {
                        margin-block-end: .5rem;
                    }
                }
            }
        }
    }
    
}